.box{
    
      flex:  1 0 300px;
     
      width: 200px;
      height: 200px;
      float:  left;
      border:  solid 2px #333;
      margin: 10px;
      font-size: 24px;
    
    
    }

.box_three{
    
        flex:  1 0 600px;
        

        float:  left;
        border:  solid 2px #333;
        margin: 10px;
        font-size: 24px;
    
    
    }

#flexcontain{
    margin:auto;
    display:  flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-around;
    
}

.green{
    background-color: red;
    color: white;
    
}
.red{
    background-color: green;
    color: white;
}
.blue{
    background-color: rgb(4, 149, 185);
    color: white;
}
.yellow{
    background-color: #f6aa01;
    color: white;
}
.orange{
    background-color: orangered;
    color: white;
}
.aquamarine{
    background-color: #00c080;
    color: white;
}